<!DOCTYPE html>
<html lang="zxx" class="is-preload">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- favicon  -->
	<link rel="shortcut icon" href="{{'assets/img/ui/logo.ico' | theme}}" type="image/x-icon">
	<!-- swiper css -->
	<link rel="stylesheet" href="{{'assets/css/plugins/swiper.min.css' | theme}}">
	<!-- fancybox css -->
	<link rel="stylesheet" href="{{'assets/css/plugins/fancybox.min.css' | theme}}">
	<!-- orabel css -->
	<link rel="stylesheet" href="{{'assets/css/style.css' | theme}}">
	<!-- page title -->
	<title>Textile Home</title>
</head>

<body>

	<div class="orb-wrapper">
		<!-- page loader -->
		<div class="orb-loader-frame">
			<div class="orb-loader">
				<div class="orb-deco-1">
					<div class="orb-prog"></div>
				</div>
				<div class="orb-deco-2">
					<div class="orb-spiner"></div>
				</div>
			</div>
		</div>
		<!-- page loader end -->
        {% page %}
    </div>
    <!-- jquery js -->
    <script src="{{'assets/js/plugins/jquery.min.js' | theme }}"></script>	
    <!-- fancybox js -->
    <script src="{{'assets/js/plugins/fancybox.min.js' | theme }}"></script>
    <!-- swup js -->
    <script src="{{'assets/js/plugins/swup.min.js' | theme }}"></script>
    <!-- swiper js -->
    <script src="{{'assets/js/plugins/swiper.min.js' | theme }}"></script>
    <!-- parsley js -->
    <script src="{{'assets/js/plugins/parsley.min.js' | theme }}"></script>
    <!-- orabel js -->
    <script src="{{'assets/js/main.js' | theme }}"></script>
    
    </body>
    
    </html>