<div class="orb-big-menu-frame">
    <div class="orb-big-menu orb-big-menu-2">
        <div class="orb-grid">
            <div class="orb-g-33 orb-lg-50 orb-sm-100">
                <div class="orb-menu-frame orb-fs-menu">
                    <nav>
                        <ul class="orb-menu">
                            <li class="orb-has-children orb-current">
                                <a href="/" data-no-swup>Home</a>
                            </li>
                            <li class="orb-has-children">
                                <a href="{{ 'about' | page }}" data-no-swup
                                    >About</a
                                >
                            </li>
                            <li class="orb-has-children">
                                <a href="{{ 'portfolio' | page }}" data-no-swup>Portfolio</a>
                            </li>
                            <!-- <li class="orb-has-children">
                                <a href="#" data-no-swup>Blog</a>
                            </li> -->
                            <li class="orb-has-children">
                                <a href="{{ 'contact' | page }}" data-no-swup
                                    >Contacts</a
                                >
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="orb-g-33 orb-lg-50 orb-sm-100">
                <div class="rb-object-frame">
                    <div class="orb-photo-frame orb-obj-1">
                        <img
                            src="{{'assets/img/photo/48.jpg' | theme }}"
                            alt="photo"
                        />
                    </div>
                </div>
            </div>
            <div class="orb-g-33 orb-lg-50 orb-sm-100">
                <div class="orb-menu-text-frame">
                    <div class="orb-menu-text">
                        <p>
                            I am a professional tailor, my favorite areas are
                            bedclothes for yours bedchambers.
                        </p>
                    </div>
                    <a
                        href="https://www.instagram.com/textile.home.az/textile.home.az"
                        target="_blank"
                        data-no-swup
                        class="orb-instagram"
                    >
                        <span>My instagram</span>
                        <img
                            src="{{'assets/img/ui/instagram-2.svg' | theme }}"
                            alt="Instagram"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
